code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        #0f0c29,
        #302b63,
        #24243e
    ) !important;
}

h1 {
    color: white;
}

.grid .card-input {
    width: 100%;
    box-sizing: border-box;
}

.grid .card-form-select {
    color: white;
}


.search .search-bar{
    color: "white";
    border-radius: 15px;
}

/*----- Header File CSS -----*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: white;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
}

.signup_button {
    color: white;
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 15px;
}

img {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 6px;
}

/*----- Landing File CSS -----*/

.watchList_Title {
    color: white;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Franklin Gothic Medium";
}

.search {
    padding-top: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.grid {
    padding-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.add_icon {
    display: flex;
    align-content: center;
    justify-content: center;
}

/*----- Login File CSS -----*/

.Login_Title {
    color: white;
    font-size: 30px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    font-family: "Franklin Gothic Medium";
    margin-top: 10px;
}

.login {
    text-align: center;
    background-color: transparent;
    padding: 75px;
    /* border: solid;
    border-color: white; */
    /* width: fit-content; */
}

.dontHaveAccount {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.login_button {
    color: white;
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 15px;
}

input[type="text"],
input[type="password"],
textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    width: 700px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}
